.cards-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .cards-container {
        flex-direction: row;
    }  
}

@media only screen and (min-width: 992px) {
    .cards-container {
       background: hsl(0, 0%, 95%);
       width: 80%;
       height: 80%;
       box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    } 
}