.card-conatiner {
    max-width: 180px;
    font-size: 15px;
    padding: 30px;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.description {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.sedans {
    background: hsl(31, 77%, 52%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.suvs {
    background: hsl(184, 100%, 22%);
}

.luxury {
    background: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


button {
    font-family: 'Lexend Deca', sans-serif;
    background: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%) ;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.sedansBtn {
    color: hsl(31, 77%, 52%);
}

.sedansBtn:hover {
    background: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

.suvsBtn {
    color: hsl(184, 100%, 22%);
}

.suvsBtn:hover {
    background: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.luxuryBtn {
    color: hsl(179, 100%, 13%);
}

.luxuryBtn:hover {
    background: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
