.qrCode-space {
  width: 100vw;
  height: 100vh;
  background-color: rgb(216, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  width: 250px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.qr-container img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  
}

.text-container h3,p {
text-align: center;
}

.text-container p {
 font-size: 15px;
 color: grey;
}