
button {
    display: block;
    font-size: 15px;
    background: rgb(59, 59, 59);
    color: #fff;
    border: 2px solid orange ;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

table {
    margin: 20px auto;
    width: 60%;
    border: 1px solid black;
}

th {
    background-color: #191a19;
    color: white;
}

tr:nth-child(even) {
    background-color: #e4dcdc;
}

th,td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

img {
    display: block;
    margin: 0 auto;
    width: 50px;
}

  @media screen and (max-width: 875px) {
    table {
        width: 80%;
    }
  }

  @media screen and (max-width: 445px) {
    table {
        width: 95%;
    }
  }